:root{
    --color-very-pale-cyan:hsl(193, 100%, 96%);
    --color-very-dark-cyan:hsl(192, 100%, 9%);
    --color-grayish-blue:hsl(208, 11%, 55%);
    --color-grayish-blue-active:hsl(208, 12%, 55%);
    --color-white:#fff;
    --color-accent-pink:hsl(322,100%,66%);
    --color-accent-pink-active:hsl(322,100%,80%);


    --font-open-sans:'Open Sans', sans-serif;
    --font-poppins:'Poppins', sans-serif;
}
/////////////////////////////////////////////////////////////////
//media queries
$bp-large:89em;//1430/16=89%
$bp-medium:72.5em;//1160/16
$bp-small:54.06em;//865/16=70%

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing:inherit;
}


html{
    box-sizing:border-box;
    font-size:62.5%;//1rem=10px, 10px/16px=62.5%
    @media only screen and (max-width: $bp-large){
        font-size: 50%;//1rem=8px;
    }
    @media only screen and (max-width: $bp-medium){
        font-size: 37.5%;//1rem=6px;
    }
    @media only screen and (max-width: $bp-small){
        font-size: 62.5%;//1rem=10px;
    }
}

body{
    font-family:var(--font-open-sans);
    font-weight:400;
    color:var(--color-very-dark-cyan);
}

a{
    text-decoration: none;
    color:inherit;
    cursor: pointer;
}
