////////////////////////////
///section-header
.header-top{
    display:flex;
    justify-content: space-between;
    @media only screen and (max-width: $bp-small){
        margin: 2rem 2rem 0 2rem;
    }
}

.logo{
    height: 3.1rem;
    @media only screen and (max-width: $bp-small){
        height: 2.4rem;
    }
}

.header-main{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 7rem 0;
    height:48.2rem;
    @media only screen and (max-width: $bp-small){
        flex-direction: column;
        min-height: 55.3rem;
    }
}
.header-left{
    max-width: 53rem;
    margin: 0 5rem 0 0;
    @media only screen and (max-width: $bp-small){
        margin:0;
        max-width: 80%;
    }
    &__heading{
        font-size: 4rem;
        line-height: 6rem;
        padding-right:8.5rem;
        @media only screen and (max-width: $bp-small){
            font-size: 2.4rem;
            line-height: 3.6rem;
            margin: 0;
            padding:0;
        }
    }
    &__paragraph{
        font-size: 1.8em;
        line-height: 2.7rem;
        padding-right: 2rem;
        margin: 5rem 0 3.8rem 0;
        @media only screen and (max-width: $bp-medium){
            font-size: 2.2rem;
        }
        @media only screen and (max-width: $bp-small){
            font-size: 1.6rem;
            line-height: 2.4rem;
            padding:0;
            margin: 4rem 0 3rem 0;
        }
    }
}
.header-img{
 background-image: url("../images/illustration-mockups.svg");
 height: 100%;
 width: 68rem;
 background-size: cover;
 background-repeat: no-repeat;
 display: flex;
 @media only screen and (max-width: $bp-medium){
    background-position: center;
}
@media only screen and (max-width: $bp-small){
    background-size: contain;
    width: 78.93%;
    margin: 5rem 0 0 0;
}
}

///////////////////////////////////
//btn
.btn{
    font-size:1.4rem;
    font-weight: 700;
    @media only screen and (max-width: $bp-medium){
        font-size: 2rem;
    }

    &-try{
        background-color: var(--color-white);
        border-radius: 2.4rem;
        padding: 1.5rem 6rem;
        box-shadow:  0px 3px 11px 0px  hsla(0,0,0, .1);
        transition: .2s;
        &:hover{
            opacity: .6;
        }
        @media only screen and (max-width: $bp-medium){
            &:hover{
                opacity:1;
            }
            &:active{
                opacity: .6;
            }
        }
        @media only screen and (max-width: $bp-small){
            height: 2.4rem;
            padding:1rem 2.3rem;
            font-size: 1rem;
            display:flex;
            justify-content: center;
            align-items:center;
            font-size: 1rem;
        }


    }
    &-getstarted{
        background-color: var(--color-accent-pink);
        color:var(--color-white);
        padding: 1.85rem 0;
        border-radius: 2.8rem;
        box-shadow:  2px 3px 6px 1px  hsla(322,100%,66%, .2);
        transition: .4s;
        display: flex;
        justify-content: center;
        align-items:center;
        width: 28rem;
        &:hover{
            background-color: var(--color-accent-pink-active);
        }
        @media only screen and (max-width: $bp-medium){

            &:active{
                background-color: var(--color-accent-pink-active);
            }
        }
        @media only screen and (max-width: $bp-small){
            font-size: 1.2rem;
            width: 79%;
            height: 4rem;
            border-radius: 2rem;
            padding:0;
            margin:0 auto;
        }
    }
    &-getstarted-large{
        width: 40rem;
        height: 8rem;
        border-radius: 4rem;
        box-shadow:  0px 6px 13px 0px  hsla(192, 100%, 9%, .2);
        @media only screen and (max-width: $bp-small){
            height: 4rem;
            width: 57.5%;
        }

    }
}

////////////////////////////
///section-main
.card{
    display: flex;
    justify-content: space-around;
    max-width: 123.2rem;
    height: 44rem;
    border-radius: 1.6rem;
    box-shadow: 0px 0px 14px 0px  hsla(208, 11%, 55%, .5);
    &:nth-of-type(2){
        flex-direction: row-reverse;
        @media only screen and (max-width: $bp-small){
            flex-direction: column-reverse;
            max-width: 35.5rem;
        }
    }
    @media only screen and (max-width: $bp-small){
        flex-direction: column-reverse;
        max-width: 35.5rem;
        height: 48.8rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &-left{
        width: 52%;
        padding: 15rem 2rem 0 12.5rem;
        @media only screen and (max-width: $bp-medium){
            width:40%;
            padding: 0 0 0 5rem;
            align-self: center;
        }
        @media only screen and (max-width: $bp-small){
            padding: 0;
            width: 72%;
        }

        &__heading{
            font-family: var(--font-poppins);
            font-size: 2.8rem;
            line-height: 4.2rem;
            font-weight: 700;
            margin: 1rem 0 2rem 0;
            @media only screen and (max-width: $bp-small){
                margin: 2rem 0;
                font-size: 2rem;
            }
        }
        &__paragraph{
            font-size: 1.8rem;
            line-height: 2.7rem;
            color:var(--color-grayish-blue);
            @media only screen and (max-width: $bp-small){
                font-size: 1.4rem;
                line-height: 2.1rem;
            }
        }
    }
    &-right{
        display:flex;
        align-items: center;
        justify-content: center;
        //justify-self: flex-start;
        //margin: 0 1.5rem 0 auto;
        @media only screen and (max-width: $bp-small){
            margin: 0;
            height:25.6rem;
            width: 25.6rem;
        }

        &__img{
            height: 33.229rem;
            @media only screen and (max-width: $bp-small){
              height: 19.4rem;
            }
        }


    }
}

////////////////////////////
///section-footer
.footer{
    &__logo{
        margin-bottom: 2rem;
        height: 2.4rem;
        width: 15.2rem;
        @media only screen and (max-width: $bp-medium){
            margin-bottom:4rem;
        }
        @media only screen and (max-width: $bp-small){
            margin-bottom:2rem;
        }
    }

    &__details{
        display:flex;
        justify-content: space-around;
        @media only screen and (max-width: $bp-small){
            flex-direction: column;
        }
    }
}
.footer-box{
    height:21rem;
    width: 100%;
    max-width: 130rem;
    @media only screen and (max-width: $bp-small){
        height: auto;
    }
}

.contact{
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
    @media only screen and (max-width: $bp-small){
       gap:2rem;
    }
    &-item{
        max-width:37.9rem;
        display: flex;
        padding: 0 5rem 0 0;
        @media only screen and (max-width: $bp-small){
            max-width: 35rem;
            width: 32rem;
            padding: 0;
        }
        &__icon{
            height: 2.4rem;
            width: 2.4rem;
            margin-right:2rem;
            @media only screen and (max-width: $bp-small){
                margin-right: 1rem;
            }
        }
        &__text{
            line-height: 2.4rem;
            @media only screen and (max-width: $bp-small){
                line-height: 2.4rem;
                font-size: 1.4rem;
            }
        }
    }
}
.footer-nav{
    display:flex;
    justify-content: space-around;
    margin: 0 auto;
    gap: 14rem;
    @media only screen and (max-width: $bp-small){
        flex-direction: column;
        margin: 4rem 0;
        gap: 2rem;
    }

    &__left, &__right{
        display:flex;
        flex-direction: column;
        gap:2rem;
        @media only screen and (max-width: $bp-small){
            gap:2rem;
        }
    }

    &--item{
        &:hover{
            opacity: .7;
        }
    }
}
.footer-right{
    margin-left:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media only screen and (max-width: $bp-small){
        margin-left: 0;
        align-items: center;
        gap:2rem;
    }


    &__icons{
        display: flex;
        @media only screen and (max-width: $bp-medium){
            justify-content: flex-end;
        }
        @media only screen and (max-width: $bp-small){
            justify-content: center;
        }
        &--item{
            &:nth-of-type(2){
                margin:0 1.2rem;
                @media only screen and (max-width: $bp-small){
                    margin: 0 1rem;
                }
            }
        }
    }
    &__legal{
        font-size: 1.2rem;
        @media only screen and (max-width: $bp-medium){
            font-size: 1.8rem;
        }
        @media only screen and (max-width: $bp-medium){
            font-size: 1.2rem;
        }
    }
}

///////////////////////////////
///icons
.icon{
    height: 3.236rem;
    width: 3.1rem;
    fill:var(--color-white);
    border-radius: 50%;
    border: 1px solid var(--color-white);
    padding: .5em;
    &:hover{
        fill:var(--color-accent-pink);
        border:1px solid var(--color-accent-pink);
    }
    @media only screen and (max-width: $bp-medium){
        width:5.236rem;
        height:5.1rem;
    }
    @media only screen and (max-width: $bp-small){
        width:3.236rem;
        height:3.1rem;
    }
}

///////////////////////////////
///popup
.popup{
    height: 28rem;
    width: 80rem;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, .2);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    position:absolute;
    top:90%;
    z-index: 1000;
    &__title{
        font-size: 3.2rem;
        line-height: 6rem;
        font-family: var(--font-poppins);
        margin-bottom: 5rem;
        @media only screen and (max-width: $bp-small){
            font-size: 1.8rem;
            margin-bottom: 0;
        }
    }
    @media only screen and (max-width: $bp-small){
        width: 93%;
        height: 17.6rem;
        top:94%;
    }
}






