.header{
    background-color:var(--color-very-pale-cyan);
    background-image:
    url("../images/bg-hero-desktop.svg");
    width:100%;
    min-height:74rem;
    background-repeat: no-repeat;
    padding: 4.3rem 9rem 0rem 9rem;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: $bp-small){
        background-image:
    url("../images/bg-hero-mobile.svg");
        text-align: center;
        padding: 0;
        min-height:auto;
    }

}
.main{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 16rem 0 35rem 0;
    position: relative;
}

.footer{
    background-color: var(--color-very-dark-cyan);
    color: var(--color-white);
    font-size: 1.4rem;
    width:100%;
    padding: 15rem 9rem 6rem 11rem;
    display: flex;
    justify-content: center;
    transition: all .4s;
    @media only screen and (max-width: $bp-medium){
        font-size: 1.8rem;
    }
    @media only screen and (max-width: $bp-small){
        padding: 13rem 1.5rem 4rem 1.5rem;
        font-size: 1.4rem;
    }
}

